*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------ VARIABLES CSS ------ */

/* ------ BASE ------ */

html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

body{
    font-weight: 400;
    font-family: "Catamaran" sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #7A7A7A;
}



/* ------ LAYOUT ------ */

.seccion{
    margin: 4rem 0 4rem;
}

.bloque-contenido{
    max-width: 1100px;
    margin: auto;
    padding: 0 6px 0 6px;

}

.seccion-h1{
    font-family: "Dawning of a New Day";
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    padding: 2rem 0 2rem;
    color: rgb(228, 162, 65);
}

.seccion-h2{
    font-family: "Catamaran";
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    padding: 1.6rem 0 1.6rem;
    color: rgb(75, 75, 75);
}

.seccion-h3{
    font-family: "Catamaran";
    font-weight: 500;
    font-size: 26px;
    text-align: center;
    padding: 1.2rem 0 1.2rem;
    color: #5f5f5f;
}

.div-columna{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-flex{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.div-gris{ 
    background-color: rgb(230 229 229 / 62%);

}

.div-boton{
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton{
    background-color: rgb(228, 162, 65);
    color: white; 
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    display:inline;
    text-align: center;
    margin: 1rem;
    padding: 0.8rem 2.2rem 0.8rem 2.2rem;
    transition: transform 0.5s;
}

.boton:hover{
    background-color: #fdb244;
    transform: scale(0.93);
}

.h2-blanco{
    color: white !important;
}



/* ------ NAV ------ */

.header{
    height: 4.5rem;
    width: 100%;
    background-color: transparent;
    position: absolute;
}

.nav{
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:auto;
}

.menu-nav{
    display:none;
    font-size: 40px;
    padding-right: 15px;
}

.div-logo{
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.div-ul-nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.ul-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
}

.a-nav{
    color: white;
    font-weight: 700;
    font-size: 15px;
    margin-right: 10px;
    font-family: "Catamaran";
    cursor: pointer;
 }
    
.a-nav:hover{
    text-decoration: underline;
    color:rgb(228, 162, 65);
}

.icono-instagram{
    font-size: 17px;
}

.bxl-instagram{
    color: white;
}

.bxl-instagram, .bxl-facebook:hover{
    color: rgb(228, 162, 65);
    transition: 0.3s;
}



/* ------ MAIN ------ */

.main{
    align-items: center;
    height: calc(100vh);
    overflow: hidden;
    margin-bottom: 4rem;
    display: flex;
}

.principal{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
    animation: principal 8s  linear infinite 2s;
    animation-timing-function: ease-in-out;
    background-color: transparent;
    background-image: url(Imágenes\ de\ prueba/aceite2.jpg);
    overflow: hidden;
}

@keyframes principal {
    

    0% {
        background-image: url(Imágenes\ de\ prueba/aceite2.jpg);
    
    }

    50% {
        background-image: url(Imágenes\ de\ prueba/aceite3.jpg);
    
    }
}

.p-subtitulo{
    font-size: 25px;
    font-weight: 900;
    color: white;
    padding: 2rem 0 2rem;
    text-align: center;
}

/* ---- FILOSOFÍA ---- */

.div-filosofia{
    padding: 1rem;
    width: 100%;
}

.imagen-filosofia{
    margin: auto;
    border: 3px solid rgb(255 255 255 / 86%);
    box-shadow: 0px 0px 8px 5px rgba(201, 193, 193, 0.767);
}

.p-filosofia{
    text-align: center;
}


/* ---- BLOQUE DECORATIVO ---- */

.bloque-decorativo{
    height: 400px;
    background-image: url(Imágenes\ de\ prueba/Fondo1-legado.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
}


/* ---- 4 BLOQUES ---- */

.bloques-4{
    background-image: url(Imágenes\ de\ prueba/fondo-bloques-legado.jpg);
    background-size: cover;
    background-position: center;
}

.caja-4-bloques{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.div-4-bloques{
    text-align: center;
    width: 100%;
    padding-bottom: 30px;
}

.bxs-message-rounded-add, .bx-drink, .bxl-spring-boot, .bxs-tree{
    font-size: 60px;
    padding: 20px;
    color: rgb(228, 162, 65);
    border: 2px solid;
    border-radius: 50%;
    text-align: center;
}

.p-4-bloques{
    width: 88%;
    margin: auto;
    padding-bottom: 20px;
}


/* ---- TIENDA ---- */

.tienda{
    padding-bottom: 30px;
}

.div-tienda{
    background-color: white;
    border: 2px solid grey;
    box-shadow: 0px 0px 7px 5px;
    width: 90%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 1rem;
    border-radius: 12px;
}

.img-tienda{
    text-align: center;
    margin: auto;
    transition: transform 0.3s;
}

.img-tienda:hover{
    transform: scale(0.93);
}


.p-tienda{
    text-align: center;
    font-weight: 700;
    padding: 8px;
}

  /* ---- INSTAGRAM ---- */

.div-insta{
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    padding: 5px;
    border-radius: 5px;
}

.img-insta {
    border-radius: 6px;
}

.div-insta:hover{
    opacity: 0.5;
    transition: 0.2s;
}

/* ---- BOTON SUBIR ---- */

.boton-subir{
    font-size: 80px;
    position: fixed;
    bottom: 1px;
    right: 25px;
}

.bxs-chevron-up-circle{
    color: grey;
}

/* ---- FOOTER ---- */

.footer{
    width: 100%;
    height: auto;
    background-color: #3a3a3a;
}

.div-footer{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    max-width: 1200px;
    margin: auto;
}

.lista-footer{
    display: flex;
    width: 45%;
    align-content: center;
    justify-content: left;
    padding-top: 2rem;
    padding-bottom: 3.5rem;
    margin: auto;
}

.ul-footer{
    padding-left: 18px;
}

.item-footer{
    color: white;
    font-size: 19px;
    padding-left: 15px;
}

.item-footer:hover{
    color: #E4A241;
    transition: 0,2s;
}

.div-social-footer{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.enlace-footer{
    color:white;
}

.enlace-footer:hover{
    color:rgb(228, 162, 65);
}

.bxl-instagram, .bxl-facebook{
    color: white;
    font-size: 28px;
}



/* ---- MEDIA QUERYS ---- */

@media screen and (max-width: 480px){
    .icono-instagram{
        display:none;
    }
}


@media screen and (min-width: 481px) and (max-width: 776px){
    .a-nav{
        font-size: 20px;
        padding-right: 25px;
    }

    .seccion-h1{
        font-size: 55px;
    }

    .p-subtitulo{
        font-size: 35px;
    }

    .h2-blanco{
        font-size: 36px;
    }

    .boton{
        font-size: 22px;
    }
}


@media screen and (min-width: 777px) {
    .a-nav{
        font-size: 22px;
        padding-right: 35px;
    }

    .seccion-h1{
        font-size: 85px;
    }

    .p-subtitulo{
        font-size: 38px;
    }

    .h2-blanco{
        font-size: 38px;
    }

    .boton{
        font-size: 23px;
    }

    .div-filosofia {
        width: 30%;
}

    .div-4-bloques {
        width: 48%;
    }

    .div-tienda{
        width: 28%;
    }

    .div-insta{
        width: 31%;
    }

    .lista-footer{
        width: 24%;
    }

}
